@import "tailwindcss";
@import "tw-animate-css";
@plugin "daisyui" {
  themes: light --default, dark;
}
@plugin "daisyui/theme" {
  name: "light";
  default: true;
  --color-primary: #7b2634;
  --color-primary-content: white;
  --color-secondary: #2596be;
  --color-accent: #d8d4ec;
  --color-accent-content: black;
  --color-base-100: white;
}

@plugin "daisyui/theme" {
  name: "dark";
  default: false;
  --color-primary: #cfb3d3;
  --color-secondary: #2596be;
  --color-accent: #20243c;
  --color-accent-content: white;
}

/* animations */

@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.animate-fade-out-4s {
  animation: fadeOut 1s ease-in-out 4s forwards;
}
